<!DOCTYPE html>     <!--定义一个模板-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">   <!--作为片段替换掉head-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">fragments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/lib/editormd-backup/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="shortcut icon" href="../../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon" />
</head>
<body>
<nav  th:fragment="menu(n)" class="ui inverted attached segment m-padding-tb-min m-shadow-small">    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">管理后台</h2>
            <a href="#"  th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i></icon>分类</a>
            <a href="#"  th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <!--right item表示靠右-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/seed/picsum/100/100" th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">Cris</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/admin/toAdmin" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">       <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>


<footer th:fragment="footer" class="ui inverted vertical segment m-padding-tb-massive">    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../static/images/wxhy.jpg" th:src="@{/images/wxhy.jpg}" class="ui rounded image" alt="" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list" th:each="blog1 : ${recommendBlogs1}">
                    <a href="#" class="item" th:href="@{/blog/{id}(id=${blog1.id})}" th:text="${blog1.title}">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:woaini1120620371@gmail.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyright : © 2020 Designed by CRIS</p>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">晋ICP备2020014603号</p>
        <div style="width:300px;margin:0 auto; ">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=14011002000192" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../static" th:src="@{/images/beian.png}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393; font-weight: 550">晋公网安备 14011002000192号</p></a>
        </div>
    </div>

</footer>
<div th:fragment="script">
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="../../static/lib/editormd-backup/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script src="../static/lib/editormd/lib/marked.min.js" th:src="@{/lib/editormd/lib/marked.min.js}"></script>
<script src="../static/lib/editormd/lib/prettify.min.js" th:src="@{/lib/editormd/lib/prettify.min.js}"></script>
<script src="../static/lib/editormd/lib/raphael.min.js" th:src="@{/lib/editormd/lib/raphael.min.js}"></script>
<script src="../static/lib/editormd/lib/underscore.min.js" th:src="@{/lib/editormd/lib/underscore.min.js}"></script>
<script src="../static/lib/editormd/lib/sequence-diagram.min.js" th:src="@{/lib/editormd/lib/sequence-diagram.min.js}"></script>
<script src="../static/lib/editormd/lib/flowchart.min.js" th:src="@{/lib/editormd/lib/flowchart.min.js}"></script>
<script src="../static/lib/editormd/lib/jquery.flowchart.min.js" th:src="@{/lib/editormd/lib/jquery.flowchart.min.js}"></script>
<script src="../static/lib/editormd/editormd.js" th:src="@{/lib/editormd/editormd.js}"></script>

</div>
</body>

</html>