<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>    <!--后端博客发布管理-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="shortcut icon" href="../../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon" />
</head>
<body>

<!--    导航-->
<nav class="ui inverted attached segment m-padding-tb-min m-shadow-small">    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog ">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide" th:href="@{/admin/blogs}"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/types}"><i class="idea icon"></i></icon>分类</a>
            <a href="#" class="m-item item m-mobile-hide" th:href="@{/admin/tags}"><i class="tags icon"></i>标签</a>
            <!--right item表示靠右-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/seed/picsum/100/100" >
                        Cris
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="/admin/toAdmin" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">       <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<!--中间内容-->
<div class="m-container-small m-padding-tb-large">
    <div class="ui  container">     <!--展示最好的效果-->
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
            <input type="hidden" name="published">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">     <!--若不输入显示红框-->
                <div class="ui left labeled input">
                    <div class="ui selection teal compact basic dropdown label">     <!--compact适应文本-->
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <div class="default text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" placeholder="标题" name="title" th:value="*{title}">
                </div>
            </div>
            <div class="required field">
                <div id="md-content" style="z-index:1 !important">   <!--定义的css样式为了让插件在最上层-->
                    <textarea placeholder="博客内容" name="content" th:text="*{content}">

                    </textarea>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui selection dropdown fluid">
                            <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui right labeled action input ">
                        <label class="ui compact teal basic label">标签</label>
                        <div class="ui multiple search selection dropdown fluid">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="firstPictures" value="https://picsum.photos/150/100" readonly placeholder="首图引用地址">  <!--th:value="*{firstPictures}"-->
                </div>
            </div>

            <!--描述-->
            <div class="required fields">
                <textarea placeholder="博客描述..." name="description" maxlength="200" th:text="*{description}"></textarea>
            </div>

            <div class="inline fields">         <!--一行-->
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend"   checked th:checked="*{recommend}" class="hidden">   <!--默认不选中-->
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareStation" name="shareStation" th:checked="*{shareStation}" class="hidden">   <!--默认不选中-->
                        <label for="shareStation">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">   <!--默认不选中-->
                        <label for="appreciation">赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="commentabled" name="commentabled"  th:checked="*{commentabled}" class="hidden">   <!--默认不选中-->
                        <label for="commentabled">评论</label>
                    </div>
                </div>
            </div>
            <div class="ui error message">自动获取错误内容输出出来</div>
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>          <!--返回上一层页面-->
                <button type="button" id="save-btn" class="ui secondary button">保存</button>
                <button type="button" id="publish-btn" class="ui teal button">发布</button>
            </div>
        </form>

    </div>
</div>
<br>
<br>
<br>
<br>







<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../../static/images/wxhy.jpg" class="ui rounded image" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                    <a href="#" class="item">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyriht : © 2020 Designed by CRIS</p>
    </div>

</footer>

<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.js}"></script>
<script>
    /*初始化MarkDown编辑器*/
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 450,
            syncScrolling : "single",
            path    : "/lib/editormd/lib/"
        });


    });

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });
    $('#publish-btn').click(function () {           /*点击这个按钮，响应published发布，并提交表单*/
        $('[name="published"]').val(true);
        $('#blog-form').submit();

    });


    //自定义一个标签
   /* $('.ui.tag.dropdown')
        .dropdown({
            allowAdditions:true
        });
*/
    $('.ui.form').form({
        fields:{
            title:{
                identifier:'title',
                rules:[{
                    type:'empty',
                    prompt:'标题：请输入博客标题'
                }]
            },
            content:{
                identifier:'content',
                rules:[{
                    type:'empty',
                    prompt:'标题：请输入博客内容'
                }]
            },
            typeId:{
                identifier:'typeId',
                rules:[{
                    type:'empty',
                    prompt:'标题：请输入博客类型'
                }]
            },
            /*firstPictures:{
                identifier:'firstPictures',
                rules:[{
                    type:'empty',
                    prompt:'标题：请输入首图'
                }]
            },*/
            description:{
                identifier:'description',
                rules:[{
                    type:'empty',
                    prompt:'标题：请输入博客描述'
                }]
            },
        }
    })
</script>

</body>
</html>














