<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>   <!--引用  +传参    即使用thymeleaf模板自带的标题-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">   <!--引入模版-->
    <link rel="shortcut icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon" />
</head>
<body>

<!--    导航-->
<nav   th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padding-tb-min  m-shadow-small">    <!--inverted反转-->
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header m-lxd-blog">Cris</h2>
            <a href="#"  class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#"  class="m-item item m-mobile-hide"><i class="idea icon"></i></icon>分类</a>
            <a href="#"  class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#"  class="m-item item m-mobile-hide" ><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我 </a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search......">
                    <i class="search link icon"></i>
                </div>
            </div>    <!--right iten表示靠右-->
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">       <!--menu toggle   没有显示意义，jquery获取元素-->
        <i class="sidebar icon"></i>
    </a>
    <button href="#" value="Login"/>
</nav>

<!--中间内容-->
<div class="m-container m-padding-tb-large">
    <div class="ui container">   <!--semantic自带容器   根据屏幕尺寸显示-->

        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--头部-->
                <div class="ui top attached segment m-margin-top-large">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>   <!--teal 茶色-->
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block" th:text="${page.totalElements}">14</h3>篇    <!--h元素为block元素，会换行   所以使用inline变为非块原素-->
                        </div>
                    </div>
                </div>
                <!--中间内容-->
                <div class="ui attached segment">      <!--attached表示连接两个框    vertial  垂直对齐-->
                    <div class="ui padded vertical segment m-padding-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header"><a href="#" class="m-black" target="_blank"  th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">你真的理解什么是Java开发吗</a></h3>
                                <p class="m-text" th:text="|${blog.description}.....|">Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征。</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">    <!--horizontal表示横着的-->
                                            <div class="item">
                                                <img src="https://picsum.photos/seed/picsum/100/100" alt="" th:src="@{${blog.user.avatar}}" class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.username}">刘旭东</a></div><!--avatar变为圆形-->
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-03-06</span>
                                            </div>
                                            <!--<div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}"></span>2342
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal label m-padding-tiny m-text-thin" th:text="${blog.type.name}">认证升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">     <!--—_blank表示点击新打开页面-->
                                    <img src="../static/images/1005-800x450.jpg"  th:src="@{${blog.firstPictures}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--底部内容-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui button teal basic mini" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>     <!--basic表示中间镂空-->
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui button teal basic mini" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segment m-margin-top-large">
                    <!--右上面-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">       <!-- 将本该分为16份的grid分为两份-->
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="/to/toTypes" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">      <!--垂直菜单  th对应indexController的types-->
                            <a  class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>

                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segment  m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">       <!-- 将本该分为16份的grid分为两份-->
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="/to/toTags" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>

                    </div>
                </div>
                <!--最新推荐-->
                    <div class="ui segment m-margin-top-large">
                        <div class="ui top attached secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui attached segment" th:each="blog : ${recommendBlogs}">
                            <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black m-text-thin" th:text="${blog.title}">用户故事(User Story)</a>
                        </div>

                    </div>
                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-large">分类统计图</h4>               <!--分割线-->
                <!--<div class="ui centered card m-margin-top-large"  style="width:11em">
                    <img src="../static/images/csdn.jpg" th:src="@{/images/csdn.png}" alt="" class="ui rounded image">
                </div>-->
                <div id="echarts" style="width : 300px;height: 700px;margin-left: 1.2%">
                </div>
            </div>


        </div>
    </div>
    </div>
</div>
    <br>
    <br>






<!--底部footer-->
<footer class="ui inverted vertical segment m-padding-tb-massive">    <!-- vertical 垂直-->
    <div class="ui center aligned container">      <!--center aligned 表示container里面的东西全部居中-->
        <div class="ui inverted divided stackable grid">    <!--grid默认16列-->
            <div class="three wide column" align="center">     <!-- wide 填满   column 列-->
                <img src="../static/images/wxhy.jpg" th:src="@{/images/wxhy.jpg}" class="ui rounded image" alt="" style="width:110px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list" th:each="blog1 : ${recommendBlogs1}">
                    <a href="#" class="item" th:href="@{/blog/{id}(id=${blog1.id})}" th:text="${blog1.title}">用户故事(user store)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:15234023889@163.com</a>
                    <a href="#" class="item">QQ:1120620371</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header header m-text-thin m-text-spaced">Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是我的个人博客，欢迎前来观看，仅提供学习只用，同各类同道中人一起交流发展</a>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">晋ICP备2020014603号</p>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">copyright : © 2020 Designed by CRIS</p>
    </div>

</footer>

<!--/*/<th:block th:relpace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/echarts/echarts.min.js" th:src="@{/lib/echarts/echarts.min.js}"></script>
<!--/*/</th:block>/*/-->
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');   /*点击有这个效果就删除，没有这个效果就增加*/
    })

    $(function() {
        var data=[];
        var data1 = [];
        $.ajax({
            async:false,
            url:"/echarts",
            type:"get",
            dataType:"json",
            success : function(obj){
                for (var i = 0; i < obj.length; i++) {
                    data.push(obj[i]);
                    data1.push(obj[i].name)
                }
            }
        })
        var myChart = echarts.init(document.getElementById('echarts'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: data1
            },
            series: [
                {
                    name: '各类博客占比',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: data
                }
            ]
        };

        myChart.setOption(option);

    })

    /*function getData() {
        var data=[];
        $.ajax({
            async:false,
            url:"/echarts",
            type:"get",
            dataType:"json",
            success : function(obj){
                for (var i = 0; i < obj.length; i++) {
                    data.push(obj[i]);
                }
            }
        })
    }*/
</script>
</body>
</html>














